In [1]:
from bs4 import BeautifulSoup

In [2]:
import pandas as pd

In [3]:
def read_university_ranking(html_path):
    with open(html_path, 'r', encoding='UTF8') as f:
        contents = f.read()
        soup = BeautifulSoup(contents)
        a_list = soup.find_all("a", {"class": "Anchor-byh49a-0 DetailCardGlobalUniversities__StyledAnchor-sc-1v60hm5-5 kQpddJ cTSURq"})
        subject_scores = soup.find_all("dd", {"class": "QuickStatHug__Description-hb1bl8-1 bBQBxy"})
        subject_scores = [float(subject_scores[i].get_text()) for i in range(0, len(subject_scores), 3)]
        univs = [a.get_text() for a in a_list]
        ranks = list(range(1,len(univs)+1))
    
    return univs, subject_scores, ranks

In [4]:
univs_cs, subject_scores_cs, ranks_cs = read_university_ranking('cs-2021-top120.html')
univs_neuro, subject_scores_neuro, ranks_neuro = read_university_ranking('neuro-2021-top120.html')

In [5]:
univs = list(set(univs_cs).intersection(set(univs_neuro)))

In [6]:
data = {
    'univ':list(),
    'subject_score_sum':list(),
    'subject_score_cs':list(),
    'subject_score_neuro':list(),
    'rank_cs':list(),
    'rank_neuro':list()
}

In [7]:
univ_indexes_cs = [univs_cs.index(univ) for univ in univs]
univ_indexes_neuro = [univs_neuro.index(univ) for univ in univs]

In [8]:
for univ, i_cs, i_neuro in zip(univs, univ_indexes_cs, univ_indexes_neuro):
    data['univ'].append(univ)
    data['subject_score_sum'].append(subject_scores_cs[i_cs] + subject_scores_neuro[i_neuro])
    data['subject_score_cs'].append(subject_scores_cs[i_cs])
    data['subject_score_neuro'].append(subject_scores_neuro[i_neuro])
    data['rank_cs'].append(ranks_cs[i_cs])
    data['rank_neuro'].append(ranks_neuro[i_neuro])

In [9]:
df = pd.DataFrame.from_dict(data)

In [10]:
df = df.sort_values(by=['subject_score_sum'], ascending=False, ignore_index=True)
df['rank'] = list(range(1,len(df)+1))
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]

In [11]:
df

,rank,univ,subject_score_sum,subject_score_cs,subject_score_neuro,rank_cs,rank_neuro
0,1,Stanford University,185.1,97.6,87.5,2,4
1,2,Massachusetts Institute of Technology,183.4,94.5,88.9,3,3
2,3,Harvard University,182.9,82.9,100.0,14,1
3,4,University College London,166.8,80.2,86.6,20,5
4,5,University of California--Berkeley,164.0,91.0,73.0,7,18
5,6,University of Oxford,159.6,84.2,75.4,11,15
6,7,Columbia University,158.6,75.9,82.7,36,7
7,8,University of California--San Diego,155.9,77.3,78.6,32,10
8,9,University of Washington,153.7,81.2,72.5,17,19
9,10,University of Toronto,151.2,75.8,75.4,37,16
10,11,Johns Hopkins University,150.9,67.1,83.8,63,6
11,12,University of California--Los Angeles,150.7,72.6,78.1,46,11
12,13,National University of Singapore,149.3,91.0,58.3,6,65
13,14,University of Cambridge,146.9,75.1,71.8,40,20
14,15,University of Pennsylvania,146.3,63.7,82.6,85,8
15,16,Swiss Federal Institute of Technology Zurich,145.7,90.1,55.6,8,76
16,17,University of Michigan--Ann Arbor,144.7,80.8,63.9,18,40
17,18,New York University,144.4,68.5,75.9,57,13
18,19,Imperial College London,143.7,77.8,65.9,30,32
19,20,University of Sydney,138.3,75.4,62.9,38,48
20,21,University of Melbourne,137.9,66.3,71.6,69,22
21,22,Cornell University,137.2,78.2,59.0,28,61
22,23,Peking University,137.2,86.9,50.3,9,103
23,24,University of Edinburgh,135.0,70.0,65.0,55,35
24,25,University of Southern California,134.6,70.2,64.4,54,37
25,26,University of British Columbia,133.9,70.8,63.1,52,44
26,27,McGill University,133.0,57.5,75.5,120,14
27,28,Princeton University,132.4,72.8,59.6,45,56
28,29,Technical University of Munich,132.1,78.4,53.7,27,88
29,30,University of New South Wales,131.5,72.3,59.2,47,59
30,31,University of Wisconsin--Madison,131.4,72.2,59.2,48,60
31,32,University of North Carolina--Chapel Hill,129.0,66.8,62.2,67,49
32,33,Duke University,127.5,59.8,67.7,101,25
33,34,Sorbonne Universite,127.5,60.6,66.9,96,29
34,35,École Polytechnique Federale of Lausanne,126.7,73.7,53.0,41,91
35,36,University of Zurich,125.2,61.6,63.6,92,41
36,37,University of Queensland Australia,123.7,65.3,58.4,75,64
37,38,University of Amsterdam,122.9,58.7,64.2,114,39
38,39,University of California--Irvine,122.5,60.4,62.1,97,50
39,40,Catholic University of Leuven,122.4,66.8,55.6,66,75
40,41,Monash University,120.4,63.5,56.9,86,71
41,42,University of Texas--Austin,119.3,70.5,48.8,53,113
42,43,University of Montreal,116.9,62.9,54.0,88,85
43,44,University of Tokyo,115.8,63.3,52.5,87,97
44,45,Ohio State University--Columbus,115.7,60.0,55.7,100,73
45,46,Universite Paris Saclay,115.0,67.0,48.0,65,118
46,47,Seoul National University,114.8,63.8,51.0,84,101
47,48,California Institute of Technology,113.9,64.5,49.4,79,110
48,49,University of Minnesota--Twin Cities,113.5,59.3,54.2,106,84
49,50,University of Manchester,105.9,57.8,48.1,119,117